#divTitle {
    margin-bottom: 70px;
    padding: 24px 9px 0 16px;
}

#title {
    color: #517664;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

#iconVoltar {
    margin-right: 9px;
}

#divisor {
    color: #517664;
    opacity: 100;
}

.contentDiv {
    padding: 17px;
}

.contentDiv h1 {
    color: #517664;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contentDiv h2 {
    color: #3C3636;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contentDiv h3 {
    color: #517664;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}