#main {
    background-color: #517664;
}

#divTitle {
    margin-bottom: 28px;
    padding: 24px 9px 0 16px;
}

#title {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

#iconVoltar {
    margin-right: 9px;
}

#divLinhas {
    border-radius: 40px 40px 0 0;
    padding: 58px 45px 0px 45px;
    padding-bottom: 22px;
    
}